<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="application-name" content="Summary" />
    <meta name="author" content="Sapozhnikov Dmitry Vladimirovich" />
    <meta name="description" content="information about me and my skills" />

    <title>@Page.Title</title>
    
    @RenderSection("AddStylesSection")
</head>

<body>
    <div class="template-diagonal"></div>

    @*<main>
            @RenderSection("HeaderSection")

            @RenderSection("MainSection")

            @RenderSection("FooterSection")
        </main>*@

    @RenderSection("AddScriptsSection")
</body>
</html>
